body {
    background-image: linear-gradient(to bottom left, black, gray);
}

h1 {
    color: white;
    font-size: 30px;
}

p {
    color: white;
}
.card-text{
color: black;
}
.nav-link {
    color: goldenrod;
    font-size: 1.5rem;
}

.navbar-toggler {
    color: gray;
    background-color: gray;
}

footer{
    border: solid 2px;
    background-color: black;
}